html 
    head
        title='coderdan.uk - test' 
    body 
        if (openingApp)
            p attempting to open app
        else
            ul 
                li 
                    a(href='/your-account/?utm_source=eCommerce&utm_medium=Email&utm_campaign=online_statement&utm_content=view-your-bill')
                        | View Your Bill 
                li 
                    a(href='/your-account/?utm_source=eCommerce&utm_medium=Email&utm_campaign=iRead')
                        | Meter Reading

